main.login {
  max-width: 400px;
  padding: 0.5em;
  margin: 8em auto 0;
}

.login div {
  color: var(--page-static-components-text-color);
  background: var(--page-static-components-bg-color);
  text-align: center;
  padding: 2em;
}

.login p {
  font-size: 4em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.login input, .login button {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  display: block;
  margin: 0.25em auto;
  padding: 0.5em;
  background: #fff;
  border: none;
}

.login .customDropdownButton {
  padding: 0;
}

.login .customDropdownButtonOptions, .login .customDropdownButtonOptions * {
  /*have to fix this at some point*/
  width: 320px;
  margin: 0;
  padding: inherit;
}

.login .customDropdownButtonOptions * {
  padding: 0.5em 0;
}

.login input:hover, .login button:hover {
  background: #ddd;
}

.login input[type=button] {
  cursor: pointer;
}

@media (min-width: 177vh) {
  main.login {
    margin-top: 10em;
  }
}
