.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  display: block;
  position: fixed;
  z-index: 1;
  left: calc((100% - 500px) / 2);
  top: 20%;
  margin: 0 auto;
  width: 500px;
  max-height: 60%;
  background: white;
  border-radius: 24px;
  padding: 32px;
}

.durationInput {
  margin: 1em 0 2em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.durationInputContinue, .propertyInputContinue {
  float: right;
  border: 0;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1em;
  background: #ddd;
}

.durationInputContinue:hover, .durationInputContinue:focus,
.propertyInputContinue:hover, .propertyInputContinue:focus {
  background: #ccc;
}

.newAppointment .message {
  background: #FF9021;
  text-align: center;
  padding: 0.5em;
}

.propertyInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.propertyInput > * {
  margin: 0.25em;
}

.propertyInput input[type=number] {
  padding: 0;
}

#notesInput {
  margin: 0.25em;
  width: 100%;
  padding: 0.5em;
}

.propertyInput .customDropdownButtonOptions {
  width: calc((500px - 5em) / 2);
}

.propertyInputContinue {
  margin-top: 1em;
}
