.timetableSpecifier {
  width: var(--main-width);
  margin: 6rem auto 0;
}

.viewWeek {
  width: var(--main-width);
  margin: 3rem auto 0;
}

.timetableSpecifier {
  height: 100%;
  /* font-size: 1.5em; */
}

.timetableSpecifier .customDropdownButton,
.timetableSpecifier .customDropdownButtonOptions {
  width: 150px;
}

.timetableSpecifier .customDropdownButton {
  display: inline-block;
  margin: 0 1em 0 0;
}

.selectSelector {
  margin-left: 12em;
  float: left;
}

.selectedParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectDate {
  margin-right: 12em;
}

.selectDate input[type=date] {
  box-shadow: 0 0 2px 2px rgba(50,50,50,0.5);
  border: 0;
  height: 2rem;
  font-size: 1.5rem;
}

.selectDate input[type=date]:hover, .selectDate input[type=date]:focus {
  box-shadow: 0 0 6px 3px rgba(50,50,50,0.5);
}

.selectDate > button {
  font-size: 1.25em;
  margin: 0 0.5em;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 800;
}

.selectDate > button:hover, .selectDate > button:focus {
  color: #fff;
  text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    0 0px 0 #000000,
    0 -0px 0 #000000;
}

.viewWeek > .days {
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.day {
  text-align: center;
  background: var(--day-bg-color);
  margin: 0 0.5em;
  height: var(--day-height);
}

.appointment:hover, .appointment:focus {
  box-shadow: 0 0 6px 3px rgba(50,50,50,0.5);
}

.dayComponent > p {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.appointment > .duration {
  text-align: center;
  font-size: 1.25em;
  margin: 0.5em 0;
}

.appointment {
  box-shadow: 0 0 2px 2px rgba(50,50,50,0.5);
  padding: 0.25;
  z-index: 2;
  position: absolute;
  display: block;
  width: calc(var(--main-width) / 5 - 1em);
  /* some css to make sure the appointment is the same size as the parent */
  margin: 0 0.5em;
  z-index: 0;
  background: var(--appointment-bg-color);
}
