.appointmentModal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.appointmentModalContent {
  display: block;
  position: fixed;
  z-index: 1;
  left: calc((100% - 500px) / 2);
  top: 20%;
  margin: 0 auto;
  width: 500px;
  max-height: 60%;
  background: white;
  border-radius: 24px;
  padding: 32px;
}

.propertyList {
  width: 100%;
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.propertyList span {
  display: table-row;
}

.propertyList p {
  display: table-cell;
  padding: 0 0.25em;
}

.propertyList p:nth-last-of-type(even) {
  text-align: right;
  padding: 0 0.25em 0 0;
}

.duration {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.actionButtons {
  z-index: 2;
  position: absolute;
  top: 2em;
  right: 2em;
}

.actionButtons button:first-of-type {
  margin: 0 0.5em 0 0;
}

.actionButtons button {
  background: none;
  border: none;
  cursor: pointer;
}

.actionButtons img {
  height: 1.25em;
}

.editOptions input[type=text], .editOptions input[type=number] {
  font-size: 1em;
  padding: 0.25em 0.5em;/* else it might collide with other styles */
  margin: 0.25em;
}
