* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  height: 100%;
  /* overflow-x: hidden; */
}

#root {
  height: 100%;
  display: table;
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#root {
  height: 100%;
  width: 100%;
}

.outline {
  color: white;
  text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    0 0px 0 #000000,
    0 -0px 0 #000000;
  /* Terminate with a semi-colon */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
